
body{ 
background: url("assets/paleo.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Cantarell', sans-serif;
margin: 0;

}

header{
width: 14%;
margin: 100px auto;

}

h1{
text-align: center;
color: #ffffff;
margin: 100px auto;
width: 76%;
font-size: 50px;

}
