body {
  font-size: 18px;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
}

h1 {
  font-size: 2em;
}

h1 {
  font-size: 1.5em;
  padding-top: .8em;
  padding-bottom: .8em;
}

h2 {
  font-size: 1.5em;
  padding: .8em 0;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

img {
	display: block;
	margin: 0 auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

footer {
	text-align: center;
	padding: 1em 0;

}
