
body {
     font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
     background:;
     background-color: #;
}
section { }
section#splash {
	background:url('venice_beach_1.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
}
section#about { }
h1 {
    text-transform: uppercase;
    font-size: ;
    font-style:;
    font-weight;
}

p {
    font-size: #px;
}


li{
	text-transform: uppercase;
}

h2.slogan{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
